In [146]:
import os
import glob
import re
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## Read Data

In [147]:
datafiles = glob.glob(os.path.join(os.getcwd(), 'data_reshape', '*.csv'))
daily_expenses_fp, _, monthly_expenses_fp, diaraists_fp = datafiles

In [148]:
daily = pd.read_csv(daily_expenses_fp)
monthly = pd.read_csv(monthly_expenses_fp)
diarists = pd.read_csv(diaraists_fp)

_Some improvements that need to be made to the data reashape (reforactor out of this notebook):_
- in monthy_expenses, turn dollar string value into float
- rename the 'index' column in diaraists to 'diary_index' to ensure consistency
- put descriptions in lowercase

In [149]:
diarists = diarists.rename(columns={'index': 'diary_index'})

In [150]:
daily.head()

   day_total  day_nm  diary_index
0     177.72       1            0
1      85.54       2            0
2     140.21       3            0
3       4.00       4            0
4       0.00       5            0

In [151]:
monthly.head()

   mn_exp_amt                                     mn_exp_rawtext  diary_index
0      1590.0                                           Mortgage            0
1         0.0  , including property taxes and insurance, for ...            0
2    233000.0                                       (We paid off            0
3      1700.0                                          Childcare            0
4       580.0                                          Utilities            0

In [152]:
diarists.head()

,diary_index,salary,occupation,industry,location,url
0,0,165000,Part-Time Attorney,Law,"Central Valley, CA",https://www.refinery29.com/money-diary-central...
1,1,39500,Key Account Specialist,Apparel Manufacturing & Marketing,"Vancouver, BC",https://www.refinery29.com/money-diary-vancouv...
2,2,47000,Communication Specialist,Higher Education,"Boston, MA",https://www.refinery29.com/money-diary-boston-...
3,3,70000,Programmer,Tech,New York City,https://www.refinery29.com/money-diary-new-yor...
4,4,32780,Assistant Language Teacher,Education,"Niigata, Japan",https://www.refinery29.com/money-diary-niigata...

## Scratch

In [190]:
selector = 44

print(diarists.loc[selector, 'url'])

https://www.refinery29.com/money-diary-brooklyn-ny-marketing-and-communications-associate-salary